@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    <h1>@ViewData["Title"]</h1>
    <center>
        <h1>Goodbye for now, developed by Kelvin.</h1>
        <h6>Milwaukee, WI</h6>
    </center>
</header>