@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>You have the freedom to edit, change and keep data upon usage of this website.</p>
<h2>This plat is opensource and free to use. Your Database is a click away.</h2>
